.button {
  display: inline-block;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  font-size: 1rem;

  color: #fff;
  background-color: #dd4200;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
